# ====================[ .gitignore                         ]====================
#
# --------------------( SYNOPSIS                           )--------------------
# Paths matching the following glob expressions are *NOT* committed by default.

# ....................{ FILES ~ temporary                  }....................
*~
*.sw?
