# ====================[ .gitignore                         ]====================
#
# --------------------( SYNOPSIS                           )--------------------
# Paths matching the following glob expressions are *NOT* committed by default.

# ....................{ FILES ~ temporary                  }....................
# Ignore all files suffixed by a tilde, typically denoting a temporary file.
*~
*.sw?

# ....................{ FILES ~ zsh                        }....................
# Ignore stray completion cache files insinuating themselves into the codebase.
.zcompdump
